<h1>Places I've Been!</h1>
<p></p>
<form action='/locations' method="post">
  <div class='form-group'>
    <label for="location">Add a place where you have been:</label>

    <input type="text" name="location" id="location" class="form-control">
  </div>
  <button type="submit" id="submitLocation" class='btn'>Submit!</button>
</form>
